@import "tailwindcss";

body {
    background-color: #1f1f1f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.site-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    justify-content: flex-start;
    margin-top: 100px;
}

.loi-tat {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding: 10px 20px;
}

.gmail {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    opacity: 0.85;
}

.gmail:hover {
    text-decoration: underline;
}

.hinh-anh {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    opacity: 0.85;
}

.hinh-anh:hover {
    text-decoration: underline;
    text-decoration: none;
}

.apps-button {
    background-color: #1f1f1f;
    ;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
    border: none;
    border-radius: 50%;
}

.apps-button:hover {
    background-color: #9c9c9c;
}

.apps-button svg {
    fill: #ffffff;
    width: 24px;
    height: 24px;
}

.google-account {
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid transparent;
    padding: 2px;
}

.google-acount:hover {
    background-color: #f0f0f0;
}

.google-account img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.account-avatar {
    background-color: #0b57d0;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#banner-image {
    display: flex;
    justify-self: center;
    padding: 80px;

}

.search-box {
    display: flex;
    justify-self: center;

}

.banner {
    margin-bottom: 20px;
}

.search-box-wrapper {
    background-color: #4d5156;
    border-radius: 24px;
    height: 46px;
    width: 584px;
    max-width: 90%;
    display: flex;
    align-items: center;
    padding: 0 14px;
    margin: 0 auto;
}

.search-box-wrapper:hover {
    background-color: #969696;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    border-color: rgba(223, 225, 229, 0);
}

.search-icon svg {
    width: 20px;
    height: 20px;
    fill: #9aa0a6;
    margin-top: 4px;
    margin-right: 10px;
}

.search-box-wrapper input {
    background-color: transparent;
    border: none;
    outline: none;
    flex-grow: 1;
    color: #e8eaed;
    font-size: 16px;
    height: 100%;
}


.search-tools {
    display: flex;
    align-items: center;
    gap: 12px;
}

.tool-icon svg {
    width: 24px;
    height: 24px;
    fill: #8ab4f8;
    cursor: pointer;
}

.button-container a {
    background-color: #303134;
    border: 1px solid transparent;
    color: #e8eaed;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
    line-height: 27px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;

}

.button-container button:hover {
    border: 1px solid #5f6368;
    color: #e8eaed;
}

.cuoi-trang {
    background-color: #171717;
    font-size: 14px;
    width: 100%;
}

.dat-nuoc {
    padding: 15px 30px;
    border-bottom: 1px solid #3c4043;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
}


.loi-tat-cuoi-trang {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.loi-tat-cuoi-trang a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 27px;
    display: inline-block;
}

.links-bentrai {
    display: flex;
    justify-self: start;
    padding: 15px 30px;

}

.links-benphai {
    display: flex;
    justify-self: end;
    padding: 15px 0px;
}

.cuoi-trang a:hover {
    text-decoration: underline;
}

@media (max-width: 1500px) and (min-width: 0px){
    
}

@media (max-width: 853px) and (min-width: 375px){

}